/**
 * The following styles get applied inside the editor only.
 */
/* ______ BLOCK ______ */
.editor-styles-wrapper .wp-block-delikaktus-recipes-ingredients-list {
    margin: 0;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
}
.editor-styles-wrapper .wp-block-delikaktus-recipes-ingredients-list * {
    margin: 0;
    padding: 0;
    transition: 100ms;
}

/* ----- BUTTONS ----- */
.editor-styles-wrapper .wp-block-delikaktus-recipes-ingredients-list button {
    align-self: center;
    border: none;
    background-color: transparent;
    color: inherit;
}

/* ###### INGREDIENTS CONTAINER ###### */

/* ----- INGREDIENT ITEM ----- */
.editor-styles-wrapper .wp-block-delikaktus-recipes-ingredients-list .delikaktus-recipes-ingredient-item {
    display: flex;
    align-items: center; /* Vertically align all elements inside each ingredient item */
    gap: 0.5rem; /* Adjust spacing between elements */
    margin-bottom: 0.8rem;
}

/* *** ARROW BUTTONS *** */
.editor-styles-wrapper .wp-block-delikaktus-recipes-ingredients-list .delikaktus-recipes-ingredient-arrows {
    display: flex;
    flex-direction: column;
}

.editor-styles-wrapper .wp-block-delikaktus-recipes-ingredients-list .delikaktus-recipes-ingredient-arrows button {
    font-size: large;
    color: var(--wp--preset--color--text, var(--wp--preset--color--contrast, black));
    border-radius: 0.3em;
    height: 100%;
}
.editor-styles-wrapper .wp-block-delikaktus-recipes-ingredients-list .delikaktus-recipes-ingredient-arrows button:hover {
    background-color: rgb(154, 54, 208);
    color: var(--wp--preset--color--background, var(--wp--preset--color--base, white));
}
.editor-styles-wrapper .wp-block-delikaktus-recipes-ingredients-list .delikaktus-recipes-ingredient-arrows button:active {
    background-color: rgb(197, 115, 241);
}
.editor-styles-wrapper .wp-block-delikaktus-recipes-ingredients-list .delikaktus-recipes-ingredient-arrows button svg {
    /* height: 100%; */
    text-align: center;
}

/* *** INPUTS *** */
.editor-styles-wrapper .wp-block-delikaktus-recipes-ingredients-list .delikaktus-recipes-ingredient-inputs {
    display: flex;
    flex-wrap: wrap;  /* Allows wrapping if space is limited */
    /* align-self: center; */ /* Vertically center the elements, relevant if individual items needed to override the parent's alignment */
    align-items: center; /* Vertically center the elements */
    width: 100%;
}

.editor-styles-wrapper .wp-block-delikaktus-recipes-ingredients-list .delikaktus-recipes-ingredient-inputs * {
    font-size: large;
}
.editor-styles-wrapper .wp-block-delikaktus-recipes-ingredients-list .delikaktus-recipes-input-unit-type {
    font-size: x-large;
}

.editor-styles-wrapper .wp-block-delikaktus-recipes-ingredients-list .delikaktus-recipes-input-unit-type,
.editor-styles-wrapper .wp-block-delikaktus-recipes-ingredients-list .delikaktus-recipes-input-quantity,
.editor-styles-wrapper .wp-block-delikaktus-recipes-ingredients-list .delikaktus-recipes-input-unit-choice,
.editor-styles-wrapper .wp-block-delikaktus-recipes-ingredients-list .delikaktus-recipes-input-ingredient-name,
.editor-styles-wrapper .wp-block-delikaktus-recipes-ingredients-list .delikaktus-recipes-input-quantity-fraction {
    margin-left: 0.3rem;
}

.editor-styles-wrapper .wp-block-delikaktus-recipes-ingredients-list .delikaktus-recipes-input-unit-type,
.editor-styles-wrapper .wp-block-delikaktus-recipes-ingredients-list .delikaktus-recipes-input-quantity-fraction,
.editor-styles-wrapper .wp-block-delikaktus-recipes-ingredients-list .delikaktus-recipes-input-unit-choice {
    padding: 0rem 1.2rem 0 0.1rem;
}

.editor-styles-wrapper .wp-block-delikaktus-recipes-ingredients-list .delikaktus-recipes-input-quantity {
    width: 2.6rem;    /* Let the width adjust based on content */
    padding: 0 0.1rem 0 0.1rem;
}

.editor-styles-wrapper .wp-block-delikaktus-recipes-ingredients-list .delikaktus-recipes-input-ingredient-name {
    min-width: 2rem;  /* Minimum width to prevent collapsing */
    padding: 0 0.1rem 0 0.1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex: 1;    /* allow the ingredient name input to grow and fill available space */
}

/* *** DELETE INGREDIENT BUTTON *** */
.editor-styles-wrapper .wp-block-delikaktus-recipes-ingredients-list button.delikaktus-recipes-ingredient-delete {
    color: rgb(199, 2, 2);
}
.editor-styles-wrapper .wp-block-delikaktus-recipes-ingredients-list button.delikaktus-recipes-ingredient-delete:hover {
    color: rgb(92, 4, 4);
}
.editor-styles-wrapper .wp-block-delikaktus-recipes-ingredients-list button.delikaktus-recipes-ingredient-delete:active {
    color: rgb(240, 3, 3);
}
.editor-styles-wrapper .wp-block-delikaktus-recipes-ingredients-list button.delikaktus-recipes-ingredient-delete>* {
    font-size: x-large;
}

/* ###### ADD INGREDIENT BUTTON ###### */
.editor-styles-wrapper .wp-block-delikaktus-recipes-ingredients-list button.delikaktus-recipes-ingredient-add {
    margin: 0.5rem 0;
    display: block;
    position: relative;
    right: 0;
    border: none;
    color: rgb(17, 114, 17);
    /* width: 5rem; */
}
.editor-styles-wrapper .wp-block-delikaktus-recipes-ingredients-list button.delikaktus-recipes-ingredient-add:hover {
    color: rgb(7, 55, 7);
}
.editor-styles-wrapper .wp-block-delikaktus-recipes-ingredients-list button.delikaktus-recipes-ingredient-add:active {
    color: rgb(12, 193, 12);
}
.editor-styles-wrapper .wp-block-delikaktus-recipes-ingredients-list button.delikaktus-recipes-ingredient-add>* {
    font-size: xx-large;
}